{# Arista EOS BGP Configuration Template #}
{#
   Context Variables (from ConfigRenderer):
   - device: Device dict with name, platform, site
   - sessions: List of session dicts (see README for full schema)
   - peer_groups: List of peer group dicts (id, name)
   - route_maps: List of route map dicts (id, name)

   Note: EOS allows one route-map per direction per neighbor.
   This template applies the first route map found per address family.
#}

! BGP Configuration for {{ device.name }}
! Platform: {{ device.platform.name }}
! Site: {{ device.site.name }}
!
router bgp {{ sessions[0].local_asn if sessions else 'LOCAL_ASN' }}
   router-id {{ device.primary_ip4.address.ip | default('10.0.0.1') }}
   maximum-paths 16 ecmp 16
   !
{% if peer_groups %}
   ! Peer Groups
{% for pg in peer_groups %}
   neighbor {{ pg.name }} peer group
{% endfor %}
   !
{% endif %}
   ! BGP Neighbors
{% for session in sessions %}
{% if session.enabled %}
   neighbor {{ session.remote_ip }} remote-as {{ session.peer_asn }}
   neighbor {{ session.remote_ip }} description {{ session.name }}{% if session.description %} - {{ session.description }}{% endif %}

{% if session.local_ip %}
   neighbor {{ session.remote_ip }} update-source {{ session.local_ip }}
{% endif %}
{% if session.peer_group %}
   neighbor {{ session.remote_ip }} peer group {{ session.peer_group.name }}
{% endif %}
{% if session.password %}
   neighbor {{ session.remote_ip }} password 7 {{ session.password }}
{% endif %}
{% if session.ttl %}
   neighbor {{ session.remote_ip }} ebgp-multihop {{ session.ttl }}
{% endif %}
{% if session.bfd_profile %}
   neighbor {{ session.remote_ip }} bfd
{% endif %}
{% if session.ipv4_max_prefixes %}
   neighbor {{ session.remote_ip }} maximum-routes {{ session.ipv4_max_prefixes }}
{% endif %}
{# Apply route maps from address_families config #}
{% for af in session.address_families %}
{% if af.route_map_in %}
   neighbor {{ session.remote_ip }} route-map {{ af.route_map_in.name }} in
{% endif %}
{% if af.route_map_out %}
   neighbor {{ session.remote_ip }} route-map {{ af.route_map_out.name }} out
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
   !
{# Configure address families #}
   ! Address Family IPv4
   address-family ipv4
{% for session in sessions %}
{% if session.enabled and ('ipv4-unicast' in session.afi_safis | default(['ipv4-unicast'])) %}
      neighbor {{ session.remote_ip }} activate
{% endif %}
{% endfor %}
   !
{% for session in sessions %}
{% if session.enabled %}
{% for afi in session.afi_safis | default([]) %}
{% if afi == 'ipv6-unicast' %}
   ! Address Family IPv6
   address-family ipv6
      neighbor {{ session.remote_ip }} activate
{% if session.ipv6_max_prefixes %}
      neighbor {{ session.remote_ip }} maximum-routes {{ session.ipv6_max_prefixes }}
{% endif %}
   !
{% endif %}
{% if afi == 'evpn' %}
   ! Address Family EVPN
   address-family evpn
      neighbor {{ session.remote_ip }} activate
   !
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
!

{# BFD Configuration #}
{% for session in sessions %}
{% if session.enabled and session.bfd_profile %}
bfd interval {{ session.bfd_profile.minimum_interval }} min-rx {{ session.bfd_profile.minimum_rx_interval }} multiplier {{ session.bfd_profile.multiplier }}
{% endif %}
{% endfor %}
!

{# Route-map definitions #}
{% if route_maps %}
{% for rm in route_maps %}
! Route-map: {{ rm.name }}
route-map {{ rm.name }} permit 10
!
{% endfor %}
{% endif %}
