{# Cisco IOS-XR BGP Configuration Template #}
{#
   Context Variables (from ConfigRenderer):
   - device: Device dict with name, platform, site
   - sessions: List of session dicts (see README for full schema)
   - peer_groups: List of peer group dicts (id, name)
   - route_maps: List of route map dicts (id, name)

   Note: IOS-XR only allows ONE route-policy per direction per neighbor.
   If multiple policies are needed, chain them within a single RPL policy.
   This template applies the first route map found per address family.
#}

!! BGP Configuration for {{ device.name }}
!! Platform: {{ device.platform.name }}
!! Site: {{ device.site.name }}

router bgp {{ sessions[0].local_asn if sessions else 'LOCAL_ASN' }}
 bgp router-id {{ device.primary_ip4.address.ip | default('10.0.0.1') }}
!
{% for session in sessions %}
{% if session.enabled %}
 neighbor {{ session.remote_ip }}
  description {{ session.name }}{% if session.description %} - {{ session.description }}{% endif %}

  remote-as {{ session.peer_asn }}
{% if session.local_ip %}
  update-source {{ session.local_ip }}
{% endif %}
{% if session.password %}
  password encrypted {{ session.password }}
{% endif %}
{% if session.ttl %}
  ebgp-multihop {{ session.ttl }}
{% endif %}
{% if session.bfd_profile %}
  bfd fast-detect
  bfd multiplier {{ session.bfd_profile.multiplier }}
  bfd minimum-interval {{ session.bfd_profile.minimum_interval }}
{% endif %}
{# Configure address families with per-AFI route maps #}
{% for afi_safi in session.afi_safis | default(['ipv4-unicast']) %}
{% if afi_safi == 'ipv4-unicast' %}
  address-family ipv4 unicast
{% if session.ipv4_max_prefixes %}
   maximum-prefix {{ session.ipv4_max_prefixes }}
{% endif %}
{% elif afi_safi == 'ipv6-unicast' %}
  address-family ipv6 unicast
{% if session.ipv6_max_prefixes %}
   maximum-prefix {{ session.ipv6_max_prefixes }}
{% endif %}
{% elif afi_safi == 'l3vpn-ipv4-unicast' %}
  address-family vpnv4 unicast
{% elif afi_safi == 'l3vpn-ipv6-unicast' %}
  address-family vpnv6 unicast
{% elif afi_safi == 'evpn' %}
  address-family l2vpn evpn
{% endif %}
{# Apply route maps from address_families config #}
{% for af in session.address_families %}
{% if af.route_map_in %}
   route-policy {{ af.route_map_in.name }} in
{% endif %}
{% if af.route_map_out %}
   route-policy {{ af.route_map_out.name }} out
{% endif %}
{% endfor %}
  !
{% endfor %}
 !
{% endif %}
{% endfor %}
!

{# Route-policy definitions #}
{% if route_maps %}
{% for rm in route_maps %}
route-policy {{ rm.name }}
  pass
end-policy
!
{% endfor %}
{% endif %}
